.cell {
    width: 25px;
    height: 25px;
    outline: 1px solid black;
}

.hide {
    font-size: 0;
    background-color: #9ef365;
}

.flag {
    background-color: #ffc500;
}

.clear {

}

.column {

}

.board {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}
