body {
    background-color: #c5e7f6;
}

div, p {
    font-family: Microsoft Tai Le, Candara, sans-serif;
    line-height: 1.5;
}

header {
    padding: 3%;
    margin: auto;
}

img {
    outline: 1px solid black;
    max-width: 100%;
    max-height: 100%;
}

.imgc {
    flex-basis: 850px;
    overflow: auto;
}

button {
    margin-left: 1%;
    margin-right: 1%;
}

.container {
    width: 100%;
    height: 100%;
    flex: 1 1 80%;
}

.wide {
    width: 100%;
}

.flexy {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.image {
    display: none;
}

.nav-link {
    margin-left: 10px;
    margin-right: 10px;
}