body {
    background-color: grey;
}

img {
    position: absolute;
    width: 80%;
    height: 80%;
}

button {
    margin: 1%;
}

.relative {
    position: relative;
}

.container {
    width: 100%;
}

.flexy {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.image {
    display: none;
}
